@theme {
  /* Colors */
  --color-background: #121212;
  --color-surface: #1a2e26;
  --color-surface-soft: #201f1f;
  --color-surface-bright: #353534;

  --color-border: #424845;
  --color-border-soft: rgba(197, 160, 89, 0.18);

  --color-primary: #c5a059;
  --color-primary-soft: #e9c176;

  --color-text-main: #f5f5f0;
  --color-text-muted: #c2c8c3;

  --color-danger: #ffb4ab;
  --color-success: #b5ccc0;

  /* Fonts */
  --font-heading: "Epilogue", sans-serif;
  --font-body: "Manrope", sans-serif;

  /* Radius */
  --radius-card: 1rem;
  --radius-control: 0.5rem;
}